{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<div class="container" style="display: flex">
<img src="{{content.image}}" style="width: 400px; height: 600px; margin-left: 120px; margin-top: 40px" class="card-img-top"/>

<div class="card p-3" style="width: 600px; display: flex; height: 600px; margin-top: 40px; margin-left: 10px">
    <blockquote class="blockquote mb-0 card-body">
      <span class="title">{{content.title}}</span><br>
      <span class="span1">Genres: </span><span>{{content.genres}}</span><br>
      <span class="span1">ID: </span><span>{{content.id}}</span><br>
      <span class="span1">Release Year: </span><span>{{content.year}}</span><br>
      <span class="span1">Duration: </span><span>{{content.duration}} min.</span><br>
      <span class="span1">Type: </span><span>{{content.type}}</span><br>
      <span class="span1">Rating: </span><span>{{content.rating}}</span><br>
      <span class="span1">Top Rank: </span><span>{{content.top_rank}}</span><br>
    </blockquote>
  </div>
</div>

<div class="card p-3" style="width: 990px; margin-left: 525px; margin-top: 10px; margin-bottom: 10px">
    <blockquote class="blockquote mb-0 card-body">
      <p>{{content.full_plot}}</p>
    </blockquote>
  </div>