.form-container {
    display: flex;
    margin-left: 451px;
}

.content_name {
    font-size: 25px;
    font-family: Georgia, serif;
}


.details_card {
    margin-left: 200px;
    width: 100%;
    display: flex;
}

.details_card_data {
    width: 100%;
    height: 800px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 20px;
}

.title {
    font-size: 60px;
    font-family: Georgia, serif
}

.span1 {
    font-family: Georgia, serif;
    font-size: 21px;
}

.span2 {
    font-family: Georgia, serif;
    font-size: 19px;
}

.span3 {
    font-family: Georgia, serif;
    font-size: 17px;
}

.duration {
    margin-top: 6px;
    margin-left: 8px;
    font-size: 15px;
    font-family: Georgia, serif;

}

.p1 {
    font-family: Georgia, serif
}

body {
    background-color: #1E1E1E;
}

.delete-button {
    margin-top: 2px;
    margin-bottom: 50px;
    margin-left: 33px;
}

.extra-button {
    margin-top: 10px;
    margin-left: 15px;
    bottom: 10px;
}

.custom-bg {
    background-color: #2E3439;
}

.unwatched_button {
    left: 10px;
}

.header_font {
    font-family: Georgia, serif;
    font-size: 50px;
    color: white;
}

.not_found_message {
    display: flex;
    margin-left: 1290px;
}

.nav_font {
    font-family: Georgia, serif;
}

.formss {
    display: flex;
}

.register_form {
    display: block;
    margin-left: 640px;
    margin-top: 89px;
    color: white;
}

.login_form {
    color: white;
    margin-left: 37%;
    margin-top: 5%;
}
