.form-container{
    display: flex;
    margin-left: 700px;
}
.content_name{
    font-size: 25px;
}

.cart_buttons{
    margin-top: 75px;
    margin-bottom: 10px;
}
.details_card{
    margin-left: 200px;
    width:100%;
    display: flex;
}
.details_card_data{
    width: 100%;
    height: 800px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 20px;
}
.title{
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;;
}
.span1{
    font-family: "Times New Roman", Times, serif;;
    font-size: 30px;
}
.duration{
    margin-top: 6px;
    margin-left: 8px;
    font-size: 15px;
}